body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1514px;
  background:inherit;
  background-color:rgba(50, 64, 87, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3850 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1514px;
  color:#FFFFFF;
}
#u3851 {
  position:absolute;
  left:2px;
  top:749px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3852 {
  position:absolute;
  left:0px;
  top:270px;
  width:300px;
  height:150px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3853 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3854 {
  position:absolute;
  left:0px;
  top:480px;
  width:300px;
  height:100px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3855 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3856 {
  position:absolute;
  left:20px;
  top:83px;
  width:260px;
  height:40px;
  color:#FFFFFF;
}
#u3857 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3858 {
  position:absolute;
  left:230px;
  top:83px;
  width:50px;
  height:40px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:18px;
  color:#FFFFFF;
}
#u3859 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:23px 8px;
  -ms-transform-origin:23px 8px;
  -moz-transform-origin:23px 8px;
  -webkit-transform-origin:23px 8px;
}
#u3860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u3860 {
  position:absolute;
  left:0px;
  top:210px;
  width:300px;
  height:60px;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u3861 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u3862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3862 {
  position:absolute;
  left:0px;
  top:320px;
  width:300px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3863 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u3864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u3864 {
  position:absolute;
  left:0px;
  top:150px;
  width:300px;
  height:60px;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u3865 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u3866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3866 {
  position:absolute;
  left:0px;
  top:370px;
  width:300px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3867 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u3868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u3868 {
  position:absolute;
  left:0px;
  top:420px;
  width:300px;
  height:60px;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u3869 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u3870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3870 {
  position:absolute;
  left:0px;
  top:480px;
  width:300px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3871 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u3872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3872 {
  position:absolute;
  left:0px;
  top:530px;
  width:300px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3873 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3874 {
  position:absolute;
  left:14px;
  top:164px;
  width:32px;
  height:32px;
  color:#FFFFFF;
}
#u3875 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3876 {
  position:absolute;
  left:18px;
  top:333px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u3877 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3878 {
  position:absolute;
  left:18px;
  top:383px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u3879 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3880 {
  position:absolute;
  left:18px;
  top:493px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u3881 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3882 {
  position:absolute;
  left:18px;
  top:543px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u3883 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u3884 {
  position:absolute;
  left:58px;
  top:10px;
  width:184px;
  height:40px;
}
#u3885 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3886 {
  position:absolute;
  left:239px;
  top:87px;
  width:32px;
  height:32px;
}
#u3887 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u3888 {
  position:absolute;
  left:18px;
  top:443px;
  width:24px;
  height:14px;
}
#u3889 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3890 {
  position:absolute;
  left:0px;
  top:270px;
  width:300px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3891 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u3892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u3892 {
  position:absolute;
  left:18px;
  top:233px;
  width:24px;
  height:14px;
}
#u3893 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3894 {
  position:absolute;
  left:18px;
  top:283px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u3895 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u3896 {
  position:absolute;
  left:0px;
  top:580px;
  width:300px;
  height:60px;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u3897 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u3898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u3898 {
  position:absolute;
  left:18px;
  top:603px;
  width:24px;
  height:14px;
}
#u3899 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3901 {
  position:absolute;
  left:300px;
  top:0px;
  width:1620px;
  height:60px;
}
#u3902 {
  position:absolute;
  left:2px;
  top:22px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u3903 {
  position:absolute;
  left:462px;
  top:14px;
  width:449px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u3904 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u3905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3905 {
  position:absolute;
  left:1780px;
  top:10px;
  width:40px;
  height:40px;
}
#u3906 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3907 {
  position:absolute;
  left:1832px;
  top:17px;
  width:43px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u3908 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#CCCCCC;
}
#u3909 {
  position:absolute;
  left:1832px;
  top:37px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#CCCCCC;
}
#u3910 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u3911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
}
#u3911 {
  position:absolute;
  left:320px;
  top:18px;
  width:45px;
  height:24px;
}
#u3912 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:1454px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3913 {
  position:absolute;
  left:300px;
  top:60px;
  width:1620px;
  height:1454px;
}
#u3914 {
  position:absolute;
  left:2px;
  top:719px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3915 {
  position:absolute;
  left:359px;
  top:100px;
  width:169px;
  height:33px;
  font-size:28px;
}
#u3916 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3917 {
  position:absolute;
  left:360px;
  top:147px;
  width:186px;
  height:18px;
  color:#999999;
}
#u3918 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u3919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1623px;
  height:2px;
}
#u3919 {
  position:absolute;
  left:298px;
  top:200px;
  width:1622px;
  height:1px;
  color:#FFFFFF;
}
#u3920 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1514px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3921 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1514px;
}
#u3922 {
  position:absolute;
  left:2px;
  top:749px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:574px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3924 {
  position:absolute;
  left:793px;
  top:447px;
  width:548px;
  height:574px;
}
#u3925 {
  position:absolute;
  left:2px;
  top:279px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:2px;
}
#u3926 {
  position:absolute;
  left:843px;
  top:522px;
  width:460px;
  height:1px;
}
#u3927 {
  position:absolute;
  left:2px;
  top:-8px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3928 {
  position:absolute;
  left:843px;
  top:472px;
  width:169px;
  height:33px;
  font-size:28px;
}
#u3929 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3930 {
  position:absolute;
  left:906px;
  top:687px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#666666;
}
#u3931 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3932 {
  position:absolute;
  left:906px;
  top:747px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#666666;
}
#u3933 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3934 {
  position:absolute;
  left:1042px;
  top:743px;
  width:168px;
  height:32px;
  text-align:left;
}
#u3935 {
  position:absolute;
  left:2px;
  top:5px;
  width:164px;
  word-wrap:break-word;
}
#u3934_ann {
  position:absolute;
  left:1203px;
  top:739px;
  width:1px;
  height:1px;
}
#u3936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3936 {
  position:absolute;
  left:906px;
  top:807px;
  width:41px;
  height:23px;
  font-size:20px;
  color:#666666;
}
#u3937 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3938 {
  position:absolute;
  left:906px;
  top:567px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#666666;
}
#u3939 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3940 {
  position:absolute;
  left:906px;
  top:627px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#666666;
}
#u3941 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3942 {
  position:absolute;
  left:906px;
  top:872px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#666666;
}
#u3943 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3944 {
  position:absolute;
  left:1042px;
  top:868px;
  width:180px;
  height:32px;
  font-size:16px;
}
#u3945 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u3946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u3947 {
  position:absolute;
  left:1042px;
  top:567px;
  width:48px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u3948 {
  position:absolute;
  left:12px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u3949 {
  position:absolute;
  left:1070px;
  top:570px;
  width:18px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u3950 {
  position:absolute;
  left:12px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3951 {
  position:absolute;
  left:1052px;
  top:570px;
  width:14px;
  height:16px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3952 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u3953 {
  position:absolute;
  left:1042px;
  top:618px;
  width:180px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u3954 {
  position:absolute;
  left:12px;
  top:11px;
  width:165px;
  word-wrap:break-word;
}
#u3953_ann {
  position:absolute;
  left:1215px;
  top:614px;
  width:1px;
  height:1px;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3955 {
  position:absolute;
  left:1190px;
  top:743px;
  width:32px;
  height:32px;
}
#u3956 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u3958 {
  position:absolute;
  left:1042px;
  top:798px;
  width:180px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u3959 {
  position:absolute;
  left:12px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u3958_ann {
  position:absolute;
  left:1215px;
  top:794px;
  width:1px;
  height:1px;
}
#u3960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:8px;
}
#u3960 {
  position:absolute;
  left:1194px;
  top:816px;
  width:16px;
  height:8px;
}
#u3961 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u3962 {
  position:absolute;
  left:1042px;
  top:678px;
  width:180px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u3963 {
  position:absolute;
  left:12px;
  top:11px;
  width:165px;
  word-wrap:break-word;
}
#u3962_ann {
  position:absolute;
  left:1215px;
  top:674px;
  width:1px;
  height:1px;
}
#u3964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#333333;
}
#u3964 {
  position:absolute;
  left:944px;
  top:945px;
  width:110px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#333333;
}
#u3965 {
  position:absolute;
  left:12px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3966 {
  position:absolute;
  left:1092px;
  top:945px;
  width:110px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3967 {
  position:absolute;
  left:12px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
